html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body{
  background-color:black;
  color:white;
  margin:0px;
}
main{
  height:100vh;
  width:100vw;
  position:relative;
}
.face{
  top:50%;
  left:50%;
  margin-left:-10vh; /* Half of `.face img` width */
  transform-origin: center 0;
  position:absolute;
}
.face img{
  position:relative;
  top:20vh;
  width:20vh;
  height:auto;
  transform:scale(1, -1);
}
.face.north{
  transform: rotate(0deg);
}
.face.east{
  transform: rotate(90deg);
}
.face.south{
  transform: rotate(180deg);
}
.face.west{
  transform: rotate(270deg);
}

#upload{
	top:0;
	left:0;
	width:100%;
  z-index:3;
	position:absolute;
	text-align:center;
}
#fileselect{display:none;}

#filedrag{
  width:100px;
  height:100vh;
  width:100vw;
  padding-top:40vh;
  font-size:5vw;
}
#filedrag.hover{
	color: #f00;
}
#filedrag.dragged{
	display:none;
}
